<div class="block-4el">
	<div class="block-title">
		ассоціація сонячної енергетики україни
	</div>
	<div class="block-4el_content container-fluid">
		<div class="block-4el_row row">
			<div class="block-4el_item hc-col-sm-6">
				ТОВ «Енерджі Юей» - є ініціатором створення
				Громадської Спілки «Асоціації Сонячної Енергетики
				України» на ряду з провідними компаніями України,
				які працюють в сфері Сонячної енергетики.
				<br><br>
				Президентом асоціації обрано один з корифеїв
				в області сонячної енегетікі
				<br><br>
				Фаворський Юрій Петрович
			</div>
			<div class="block-4el_item hc-col-sm-6">
				<div class="block-4el_img-wrapper">
					<div class="test_img"></div>
				</div>
			</div>
		</div>
		<div class="block-4el_row block-4el_row__rearrange row">
			<div class="block-4el_item hc-col-sm-6">
				Ну ще якийсь текст про ассоціацію і чому це все
				круто і важливо.
				Ну ще якийсь текст про ассоціацію і чому це все
				круто і важливо.
				Ну ще якийсь текст про ассоціацію і чому це все
				круто і важливо.
				Ну ще якийсь текст про ассоціацію і чому це все
				круто і важливо
			</div>
			<div class="block-4el_item hc-col-sm-6">
				<div class="block-4el_img-wrapper">
					<div class="test_img"></div>
				</div>
			</div>
		</div>
	</div>
</div>
