<div class="block-3el">
	<div class="block-title">
		енергокооперативи
	</div>
	<div class="block-3el_subtitle">
		Дахові сонячні електростанції є новим ринком
		електроенергії
	</div>
	<div class="block-3el_background">
		<div class="block-3el_gradient"></div>
		<div class="block-3el_gradient-sides"></div>
		<img src="img/block-3el-back.jpg" alt="" class="block-3el_background-img">
	</div>
	<div class="block-3el_content">
		<div class="block-3el_container container-fluid">
			<div class="block-3el-row block-3el-row-1 row">
				<div class="block-3el_item-wrapper hc-col-sm-6">
					<div class="block-3el_item">
						<div class="block-3el_item-title">
							Що це?
						</div>
						<div class="block-3el_item-content">
							Для інвестора:<br>
							- міцний сон<br>
							- живі гроші<br>
							Для мешканця:<br>
							- можливість пасивного доходу<br>
							- відремонтована криша<br>
						</div>
					</div>
				</div>
				<div class="block-3el_item-wrapper hc-col-sm-6">
					<div class="block-3el_item">
						<div class="block-3el_item-title">
							Чому?
						</div>
						<div class="block-3el_item-content">
							Головна ідея максимально приблизити
							виробництво електроенергії до споживача.
							Ми виконуємо установку сонячних
							електростанціх на незадіяних місцях -
							на дахах будівель та підприємств, пустирях.
							Укладаємо договір на продаж виробленої
							енергії за "зеленим тарифом" в мережую.
						</div>
					</div>
				</div>
			</div>
			<div class="block-3el-row row">
				<div class="block-3el_item-wrapper hc-col-sm-12">
					<div class="block-3el_item">
						<div class="block-3el_item-title">
							Що пропонуемо ми?
						</div>
						<div class="block-3el_item-content">
							Головна ідея максимально приблизити
							виробництво електроенергії до споживача.
							Ми виконуємо установку сонячних
							електростанціх на незадіяних місцях -
							на дахах будівель та підприємств, пустирях.
							Укладаємо договір на продаж виробленої
							енергії за "зеленим тарифом" в мережую.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
