{{#with block-4el}}
<div class="block-4el">
	<div class="block-title">{{title}}</div>
	<div class="block-4el_content container-fluid">
		<div class="block-4el_row row">
			<div class="block-4el_item hc-col-sm-6">{{{block1-content}}}</div>
			<div class="block-4el_item hc-col-sm-6">
				<div class="block-4el_img-wrapper">
					<div class="test_img"></div>
				</div>
			</div>
		</div>
		<div class="block-4el_row block-4el_row__rearrange row">
			<div class="block-4el_item hc-col-sm-6">{{{block3-conetnt}}}</div>
			<div class="block-4el_item hc-col-sm-6">
				<div class="block-4el_img-wrapper">
					<div class="test_img"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/with}}
