{{#with contacts}}
<div class="contacts">
	<div class="contacts_title">{{title}}</div>
	<div class="contacts_content">
		<div class="contacts_gradient"></div>
		<div class="contacts_container container-fluid">
			<div class="contacts-row row">
				<div class="col-sm-4 contacts_item-wrapper">
					<div class="contacts_contact-text">
						<div>{{{content}}}</div>
						<div class="social">
							<a href=""><i class="fa fa-facebook-square"></i></a>
							<a href=""><i class="fa fa-twitter-square"></i></a>
						</div>
					</div>
				</div>
				<div class=" col-sm-8 contacts_item-wrapper contacts_item-wrapper-map">
					<div class="contacts_map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10154.74680848507!2d30.477728504063503!3d50.48417599271449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cde4f85c65ed%3A0xcbd63155fba97eee!2sOst-West+Express!5e0!3m2!1sen!2see!4v1523872416484" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/with}}
