<header class="header">
	<div class="header_upper-part">
		<div class="header_wrapper-title">
			<div class="header_title">
				<img class="header_logo" alt= "logo" src="img/energyua_logo.png"/>
				<div class="header_title-text">Енергія, яку Ви генеруєте</div>
			</div>
		</div>
		<div class="header_gradient1">

		</div>
	</div>

	<div class="header_lower-part">
		<div id="#about" class="header_info-wrapper">
			<div class="header_info">
				<div class="header_info-inner">
					<div class="header_info-title">
						Послуги професіоналів
					</div>
					<div class="header_info-content container-fluid">
						<div class="row">
							<div class="hc-xs-12 hc-col-sm-6 header_info-item">
								<div class="about_item">
									<div class="about_header">
										<img class="about_icon" alt="" src="img/wireframe.png"/>
										<div class="about_title">
											<div class="about_title-content">Консалтинг</div>
										</div>
									</div>
									<div class="about_content">
										Більше 10ти років успішного супроводу проектів у сфері геренрації сонячної енергетики
										та багато іншого бла-бла яке вам неодмінно
										сподобаєтся
									</div>
								</div>
							</div>
							<div class="hc-xs-12 hc-col-sm-6 header_info-item">
								<div class="about_item">
									<div class="about_header">
										<img class="about_icon" alt="" src="img/packaging.png"/>
										<div class="about_title">
											<div class="about_title-content">Проекти "під ключ"</div>
										</div>
									</div>
									<div class="about_content">
										Ну просто бомбезні проекти. Так ви ще не
										бачили. Більше 10ти років успішного супроводу
										проектів у сфері геренрації сонячної нергетики
										та багато іншого бла-бла яке вам неодмінно
										сподобаєтся
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="hc-xs-12 hc-col-sm-6 header_info-item">
								<div class="about_item">
									<div class="about_header">
										<img class="about_icon" alt="" src="img/graphic-tablet.png"/>
										<div class="about_title">
											<div class="about_title-content">Рішення для інвесторів</div>
										</div>
									</div>
									<div class="about_content">
										Дуже треба було вставити сюди
										важливий текст але на українській мові...
										Отак і наліпив аби шо... Кожній тварі по парі.
										Сало з маслом Дуже треба було вставити
										сюди важливий текст але на українській
										мові...
									</div>
								</div>
							</div>
							<div class="hc-xs-12 hc-col-sm-6 header_info-item">
								<div class="about_item">
									<div class="about_header">
										<img class="about_icon" alt="" src="img/loupe.png"/>
										<div class="about_title">
											<div class="about_title-content">Гарантійний супровід</div>
										</div>
									</div>
									<div class="about_content">
										Дуже треба було вставити сюди
										важливий текст але на українській мові...
										Отак і наліпив аби шо... Кожній тварі по парі.
										Сало з маслом Дуже треба було вставити
										сюди важливий текст але на українській
										мові...
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
