.test_img {
  height: 200px;
  width: 300px;
  max-width: 350px;
  background-color: $colour-1;
  display: inline-block;
}
.block-4el_img-wrapper {
  text-align: center;
}
.block-4el_content {
  padding-bottom: 30px;
}
.block-4el_row {
}
.block-4el_item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: $text-md;
  color: $colour-1;
}
